<div class="container page-body-frame" ng-controller="manageArticalCtrl">

  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="底部">
      <input type="radio" name="options" id="option1"> 选项 1
    </label>
    <label class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="底部">
      <input type="radio" name="options" id="option2"> 选项 2
    </label>
    <label class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="底部">
      <input type="radio" name="options" id="option3"> 选项 3
    </label>
  </div>


  <div class="input-group">
    <span class="input-group-addon">标题</span>
    <input type="text" class="form-control" ng-model="artical.title">
  </div>
  <div class="input-group">
    <span class="input-group-addon">来源</span>
    <input type="text" class="form-control" ng-model="artical.from" >
  </div>
  <div class="input-group">
    <span class="input-group-addon">日期</span>
    <input type="text" class="form-control" ng-model="artical.date">
  </div>

  <summernote lang="zh-CN" height="500" ng-model="artical.content"></summernote>

  <button type="button" class="btn btn-default" ng-click="commit()">默认按钮</button>

  <div  ng-bind-html="yyy[6].content | trustHtml" style="margin-left: 10px"></div>
</div>
<blockquote>
  <p>here is a long quotation here is a long quotation</p>
</blockquote>
