<div class="container articalframe">
  <a ui-sref="home">
    <span class="glyphicon glyphicon-remove-sign fixed-button close-button" aria-hidden="true"></span>
  </a>
  <div class="content-title">
    {{artical.title}}
  </div>
  <div class="small-title">
    <div class="articalpage-from-title">来源：{{artical.from}}</div>
    <div class="articalpage-date-title">{{artical.date}}</div>
  </div>
  <div class="articalpage-image">
    <img ng-src={{artical.image}}>
  </div>
  <div class="articalpage-content" ng-bind-html="artical.content | trustHtml">
  </div>
</div>




