<div class="row clearfix" style="height: 40px;background: white"></div>
<div class="container">

  <div ng-repeat="artical in articals">
    <div class="col-md-8 column basic-artical">
      <div class="col-lg-3 center-vertical ">
        <a href="#" class="thumbnail " style="margin-bottom: 10px;">
          <img src={{artical.image}}
               alt="通用的占位符缩略图">
        </a>
      </div>
      <div class="col-lg-9 center-vertical" >
        <div class="artical-link">
          <a ui-sref="artical_page" >
            {{artical.title}}
          </a>
        </div>
        <div >
          {{artical.content|clearHtml|limitTo:100}}...
        </div>
        <span ng-bind-html="artical.content | trustHtml"></span>
      </div>
    </div>
  </div>
</div>
