<div class="container">
  <div class="row clearfix">
    <div class="navbar-collapse collapse" style="text-align: center">

      <ul class="nav navbar-nav" style=" display: inline-block;float: none">
        <li class="">
          <a ui-sref="home">
            <span>首页</span>
          </a>
        </li>
        <li class="">
          <a ui-sref="articalOne"><span>内容页1</span></a>
        </li>
        <li class="">
          <a ui-sref="articalTwo"><span>内容页2</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
