<div ng-controller="listImagesCtrl">
  <table class="table table-bordered adminPage-list-table">
    <caption>边框表格布局</caption>
    <thead>
    <tr>
      <th class="adminPage-list-table-title">ID</th>
      <th class="adminPage-list-table-from">名称</th>
      <th class="adminPage-list-table-date">预览</th>
      <th class="adminPage-list-table-operation">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="image in images">
      <td>{{image.id}}</td>
      <td>{{image.name}}</td>
      <td>
        <a href="#" class="thumbnail">
        <img src="//localhost:8888/images/views/{{image.id}}"></img>
        </a>
      </td>
      <td>
        <button type="button" class="btn btn-default"
                ng-click="deleteImage(image)">删除
        </button>
      </td>

    </tr>
    </tbody>
  </table>
</div>
