<div class="input-group">
  <span class="input-group-addon">标题</span>
  <input type="text" class="form-control" ng-model="artical.title">
</div>
<div class="input-group">
  <span class="input-group-addon">来源</span>
  <input type="text" class="form-control" ng-model="artical.from">
</div>
<div class="input-group">
  <span class="input-group-addon">日期</span>
  <input type="text" class="form-control" ng-model="artical.date">
</div>

<div class="adminPage-edit-selectPic">
  <button class="btn btn-primary btn-lg" ngf-select="uploadImage(picFile)" ng-model="picFile" accept="image/*">
    选择主题图片
  </button>
  <div>
    <img class="thumbnail adminPage-edit-thumbnail" ng-src="{{picFile|ngfDataUrl}}"></img>
  </div>
</div>

<div class="adminPage-edit-summernoteFrame">
  <summernote ng-model="artical.content" config="summernoteOptions"></summernote>
</div>

  <button class="btn btn-primary btn-lg" class="btn btn-default" ng-click="open()">提交文章</button>
  <div ng-include="'src/templates/modal/editArticalResultModal.html'"></div>

