<div class="input-group">
  <span class="input-group-addon">标题</span>
  <input type="text" class="form-control" ng-model="artical.title">
</div>
<div class="input-group">
  <span class="input-group-addon">来源</span>
  <input type="text" class="form-control" ng-model="artical.from">
</div>
<div class="input-group">
  <span class="input-group-addon">日期</span>
  <input type="text" class="form-control" ng-model="artical.date">
</div>

<summernote ng-model="artical.content" config="summernoteOptions"></summernote>

<button type="button" class="btn btn-default" ng-click="addArtical(artical)">默认按钮</button>
<div class="well" ng-bind="artical.content"></div>

<div ng-controller="uploadImages">
  <div class="button" ngf-select="upload($file)">Upload on file select</div>
</div>
<div></div>
<img *ngf-src="file" *ngf-background="file" ngf-resize="{width: 20, height: 20, quality: 0.9}"
     ngf-no-object-url="true or false">
</div>
