img{
  width:100%;
  height: 100%;
}

a:link,a:visited{
  color: #180d67;
}
a:hover{
  color: #4446ff;
}


.span {
  display: block;
  text-align: center
}

.logo{
 margin-top:20px;
  margin-left:5%;
  width:20%;
}

.nav > li {
  width: 200px;
}

.nav > li > a > span {
  color: #000000;
  font-size: 20px;
  font-family: Microsoft YaHei;
  letter-spacing: 10px;
  padding-left: 10px
}

.nav:hover > li > a > span {
  color: #9ca3ac;
}

.nav:active > li > a > span {
  color: #c2cfff;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #000000;
  font-weight: bold;
  background-color: white;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus > span {
  color: #000000;
}

.navbar-nav > li > a:focus > span {
  color: #000000;
  padding-bottom: 5px;
  border-bottom: 5px solid #a60fff;
}

.navbar-nav > li > a:hover > span {
  color: #000000;
  padding-bottom: 5px;
  border-bottom: 5px solid #a60fff;
}

.articalframe {
  position: relative;
  margin-top: 50px;
  height: 10000px;
  border: 1px solid rgba(34, 40, 52, 0.63);
  box-shadow: 0 0 5px #000;
  text-align: center
}

.fixed-button {
  position: fixed;
  right: 80px;
  top: 120px
}

.bis.glyphicon-star {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.glyphicon-star {
  color: yellow;
  text-shadow: 0 0 black, 0 0 black, 0 0 black, 0 0 black, 0 0 black;
}

.close-button {
  font-size: 30px;
}

.content-title {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  width: 800px;
  text-align: center;
}

.small-title {
  display: inline-block;
  margin-top: 10px;
  margin-left: 80%;

}

.articalpage-from-title {
  display: inline-block;
}

.articalpage-date-title {
  display: inline-block;
  margin-left: 30px;
}

.articalpage-image {
  display: inline-block;
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;

}

.articalpage-content {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 120%;
  line-height: 200%;
  text-align: left;
}

.artical-link {
  margin-left: 0px;
  font-size: 150%;
  font-weight: bold;
}

.artical-introduction{
  margin-top: 20px;
  font-size: 120%;
  margin-left: 0px;

}


.artical-index-frame {
  margin-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px #e9a0ff solid;
}



